/************************/
/* DESIGN SYSTEMS */
/************************/

/* Default Styles */

/*
---01.TYPOGRAPHY =>
--Font sizes system(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--Font weights
-Default: 400
-Medium: 500
-Semi-bold: 600
-Bold: 700

--Line height
-Default: 1
-Small: 1.05
-Medium: 1.2
-Paragraph default: 1.6
-Large: 1.8

--Letter Spacing(px)
-0.5,0.75

---06.BORDER RADIUS =>
-Small: 7px
-Default: 9px
-Medium : 11px
-Large: 13px

--- 07.WHITE SPACE =>
--Spacing system(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #ff42a5;
  --primary-accent: #4ec5f7;
  --primary-background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  --heading-color: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --text-grey: #534c64;
  --text-pink: #ff42a5;
  --text-white: #fff;
  --standard-border-radius: 48px;
}

body {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  line-height: 1;
  font-weight: 400;
  color: var(--text-grey);
}

.wrapper-container {
  overflow-x: hidden;
}

/* header styles */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 8rem;
  box-shadow: 0 3px 6px rgba(0 0 0 / 0.03);
}

.logo {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: #0b0223;
  font-size: 2.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo > img {
  margin-right: 0.8rem;
  width: 6.4rem;
  height: 3rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-list-item {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.8rem;
}

.main-nav-list-item a {
  text-decoration: none;
  color: #3c354f;
}

.main-nav-list-item.link-cta {
  text-transform: capitalize;
  color: #3c354f;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  transition: all 0.3s;
}

.main-nav-list-item.link-cta:hover {
  box-shadow: inset 0 0 0 3px rgba(11, 2, 35, 0.5);
}

.yt-icon {
  width: 2.8rem;
  height: 2rem;
}

.main-nav-list-item:not(.link-cta) {
  position: relative;
  padding-bottom: 0.4rem;
}

.main-nav-list-item:not(.link-cta):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #ff2495;
  width: 0%;
  transition: all 0.3s;
}

.main-nav-list-item:not(.link-cta):hover:after {
  width: 100%;
}

/* Mobile Navigation */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.btn-mobile-nav div {
  width: 3rem;
  height: 3px;
  margin-bottom: 5px;
  background-color: #333;
  border-radius: 70px;
}

.nav-open .btn-mobile-nav div:first-child {
  animation: flip-bar-one 0.4s ease-in forwards;
}

.nav-open .btn-mobile-nav div:nth-child(2) {
  animation: fade-bar-two 0.4s ease-in forwards;
}

.nav-open .btn-mobile-nav div:last-child {
  animation: flip-bar-three 0.4s ease-in forwards;
}

@keyframes flip-bar-one {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translate(4px, 7px);
  }
}

@keyframes fade-bar-two {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes flip-bar-three {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translate(4px, -7px);
  }
}

/* hero styles */
.hero-container {
  gap: 6.4rem;
  min-height: calc(100vh - 8rem);
}

.hero-content-box {
  padding-bottom: 8rem;
  background-image: url(../images/bg-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;

  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-heading {
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.05;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.goat-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#heading-dark-text {
  -webkit-text-fill-color: #0b0223;
  font-size: 4.4rem;
  letter-spacing: -0.65px;
  font-weight: 700;
  line-height: 1.05;
  text-transform: uppercase;
}

.hero-content-box p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

.hero-content-box p img {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
}

.hero-img-box img {
  width: 85%;
}

/* gamefy intro section */
.gamefy-intro-section {
  background-color: rgba(255, 66, 165, 0.03);
  margin-bottom: 9.6rem;
}

.intro-container {
  padding: 9.6rem 3.2rem;
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4.8rem;
  align-items: center;
  justify-content: center;
}

.intro-img-box img {
  width: 100%;
}

.intro-content-box {
  text-align: right;
}

.purpose-text {
  color: var(--text-grey);
  font-size: 2rem;
  font-weight: 500;
}

.purpose-description {
  color: var(--text-grey);
  font-size: 2.4rem;
  font-weight: 700;
}

/* videos section */
.videos-section {
  margin-bottom: 9.6rem;
}

.video-items {
  gap: 2.4rem;
}

.video-item > a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1.6rem;
  position: relative;
  border-radius: 16px;
}

.video-item img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background-color: #00000096;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s linear;
}

.overlay img {
  width: 4.8rem;
  height: 4.8rem;
}

.overlay p {
  font-size: 2rem;
  color: #ff2495;
  font-weight: 600;
}

.video-item > a:hover .overlay {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* discover styles */
.discover-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3.2rem;
  align-items: center;
}

.discover-content-box > .secondary-heading,
.discover-content-box > .section-description {
  text-align: right;
}

.discover-img-box {
  display: flex;
  justify-content: flex-end;
}

.discover-img-container {
  width: 70%;
  position: relative;
}

.discover-img-container img {
  width: 100%;
}

.discover-img-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../images/discover-2.png");
  background-position: center;
  background-size: contain;
  width: 25rem;
  height: 27rem;
  background-repeat: no-repeat;
  max-width: 30rem;
  max-height: 32rem;
  transform: translate(-50%, 25%);
}

/* experience styles */
.experience-section {
  margin-top: 14.4rem;
}

.experience-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 3.2rem;
  align-items: center;
}

.experience-content-box > .secondary-heading,
.experience-content-box > .section-description {
  text-transform: capitalize;
  text-align: left;
}

.experience-img-box {
  display: flex;
  justify-content: flex-start;
}

.experience-img-container {
  width: 70%;
  position: relative;
}

.experience-img-container img {
  width: 100%;
}

.experience-img-container::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("../images/experience-2.png");
  background-position: center;
  background-size: contain;
  width: 25rem;
  height: 27rem;
  background-repeat: no-repeat;
  max-width: 30rem;
  max-height: 32rem;
  transform: translate(50%, 25%);
}

/* career styles */
.career-section {
  margin-top: 14.4rem;
  margin-bottom: 9.6rem;
  background-color: var(--primary-color);
}

.career-container {
  /* padding-inline: 9.6rem; */
  padding-left: 11.2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.career-content-box h2 {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.career-description {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 2.4rem;
}

.career-options {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 2.8rem;
}

.career-option {
  display: flex;
  justify-content: space-between;
}

.career-img-box img {
  width: 100%;
}

.btn.btn--career {
  color: var(--primary-color);
  position: relative;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.2);
}

.btn.btn--career:hover,
.btn.btn--career:active {
  transform: scale(1.02);
  box-shadow: 0 12px 24px 2px rgba(0, 0, 0, 0.24);
}

/* games section */
.games-section {
  margin-bottom: 9.6rem;
}

.games-container {
}

.game-categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  row-gap: 3.2rem;
}

.game-category {
  padding: 1rem;
  color: #0b0223;

  display: flex;
  gap: 1.2rem;
  align-items: center;
  cursor: pointer;
}

.game-category:nth-child(6) {
  grid-column: 2;
}

.game-category > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.game-category > p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  transform: all 0.3s ease-in-out;
}

.game-category:hover {
  border-radius: var(--standard-border-radius);
  box-shadow: inset 0 0 0 2px var(--primary-color);
  color: var(--primary-color);
}

/* footer section */
.footer-section {
  padding: 9.6rem;
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #061161, #780206);
  background: linear-gradient(to right, #061161, #780206);
}

.footer-section .logo-text {
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.footer-section a:link,
.footer-section a:visited {
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
}

.footer-section .footer-links {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.footer-links a:link,
.footer-links a:visited {
  color: #ffffffdb;
  transition: all 0.2s linear;
}

.footer-links a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline currentColor;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  flex-wrap: wrap !important;
  justify-content: center;
}

.social-links img {
  width: 2.4rem;
  height: 2.4rem;
  transition: transform 0.2s ease-in;
}

.social-links img:hover {
  transform: scale(0.8);
}

.special-links {
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}

.special-links a:link,
.special-links a:visited {
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s linear;
}

.special-links a:hover {
  color: rgba(255, 255, 255, 0.406);
  text-decoration: underline currentColor;
}

.footer-text {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
}
